<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
         h1{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            text-align: center;
        }


    </style>
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<h1 th:text="'Bonjour ' + ${nomTemplate} + ' !'">Hello, World!</h1>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
